################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/.vs
*.tlog
*.obj
*.pdb
*.log
/workspaces/gamelog.txt
/workspaces/xmllog
*.swp
/workspaces/Debug/crimesquad.exe

.deps/
.dirstamp/
*.o
