################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/.vs
*.tlog
*.obj
*.pdb
*.log
/workspaces/gamelog.txt
/workspaces/xmllog
*.swp
/workspaces/Debug/crimesquad.exe

.deps/
.dirstamp
*.o
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.h.in~
/config.status
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/src/Makefile.in
/src/crimesquad
/stamp-h1
/workspaces/Release/crimesquad.exe
/workspaces/score.dat
